.pr{
    height: 100vh;
    position: relative;
}
.pr-main{
    display: flex;
}

.pr-left{
    flex: 1;
}

.pr-mid{
    flex: 1;
}

.pr-right{
    flex: 1;
}
.pr-right-next{
    flex: 1;
}

.pr-title{
    text-align: center;
    padding-top: 5%;
    font-weight: 600;
}

.pr-a{
    /* text-decoration: none; */
    color: #2da2c5;
}

.pr-a:hover{
    color: #46d1fc;
}

.pr-card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 10%;
    background-color: white;
    min-height: 45vh;
    border-radius: 7px;
    font-size: 20px;
    text-align: center;
}
  

/* On mouse-over, add a deeper shadow */
.pr-card:hover {
    box-shadow: 0 10px 18px 0 rgba(0, 0, 80, 0.2);
    margin: 8%;
    font-size: 21px;
    min-height: 47vh;
    cursor: pointer;
}


/* Add some padding inside the card container */
.pr-container {
    padding: 2px 16px;
}

.pr-popup{
    position: fixed;
    top: 10%;
    left: 20%;
    background-color: rgb(202, 202, 202);
    height: 80%;
    width: 70%;
    display: flex;
}

.pr-pop-img{
    flex: 1;
}

.pr-pop-img-in{
    height: auto;
    width: 100%;
    align-content: center;
    margin: 15px 5px;
}

.pr-pop-text{
    flex: 2;
    margin-left: 2%;
}
.pr-pop-text-in h2{
    margin-top: 5%;
}
.pr-pop-text-in a{
    text-decoration: none;
}
.pr-pop-text-in p{
    
    text-align: justify;
    margin: 5%;
}

.CV-area button{
    width: 20%;
    font-size: 18px;
}


/*
.pr-pop-inner{
    width: 50%;
    height: 50%;
    background-color: red;
    position: absolute;
    
    margin: -25px 0 0 -25px;
} */

@media screen and (max-width: 480px) {
    .pr{
        margin-top: 160vh;
    }
    
    .pr-main{
        flex-direction: column;
    }

    .pr-popup{
        display: none;
    }
    .pr-card:hover{
        cursor: none;
    }
    .CV-area button{
        width: 50%;
        font-size: 18px;
    }
}